/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2014, 11:13:29 AM
    Author     : Student
*/

.pls{
    text-align: center;
    background:url(https://unsplash.imgix.net/reserve/nE6neNVdRPSIasnmePZe_IMG_1950.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050);
    background-repeat: no-repeat;
	background-size: 100% 100%;
}
@media screen and (max-width:959px){
    .pls{
        width:100%;
        background:url(https://unsplash.com/photos/0G1r-Cg0zS8/download);
        background-repeat: no-repeat;
	background-size: 100% 100%;
    }
}
@media screen and (max-width:640px){
    .pls{
        background:url(https://unsplash.com/photos/0G1r-Cg0zS8/download);
   }
}
@media screen and (max-width:320px){
    .pls{
        background:url(https://unsplash.com/photos/0G1r-Cg0zS8/download);
   }
}
.ayy{
    font-size:100px;
}
.pls2{
    text-align: center;
    background:url(https://unsplash.imgix.net/reserve/nE6neNVdRPSIasnmePZe_IMG_1950.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050);
    background-repeat: no-repeat;
    background-size: 100%;
}
.button{
    background-color:black;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
}